@import "../../Common/common.css";

.flag{
    position: absolute;
    width: 50vw;
    height: 60vh;
    background-color: white;

    box-shadow: 0 0 2.5vh 0 rgba(0,0,0,0.25);
}

.stripe1{
    position: absolute;
    top: 5vh;
    width: 50vw;
    height: 5vh;
    background-color: blue

}

.stripe2{
    position: absolute;
    top: 50vh;
    width: 50vw;
    height: 5vh;
    background-color: blue

}

.star-container{

    width: 40vw;
    height: 40vh;

}

.arrow-down{
    position: absolute;
    top: 21vh; left: 40vh; width: 0; height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 173px solid blue;
}

.arrow-up{
    position: absolute;
    top: 11vh; left: 40vh; width: 0; height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 173px solid blue;
    transform: rotate(180deg);
}
